# <b> 01

<b> To int

In [3]:
num1 = 12.45
num1 = int(num1)
print(num1)

12

In [4]:
num2 = "12.45"
num2 = int(num2)
print(num2)

ValueError: invalid literal for int() with base 10: '12.45'

In [5]:
flag1 = True
print(int(flag1))

1

In [6]:
code = "a123"
print(int(code))

ValueError: invalid literal for int() with base 10: 'a123'

In [7]:
num3 = "0123"
print(int(num3))

123

<b> to float

In [8]:
num4 = 10
print(float(num4))

10.0

In [9]:
num5 = 4.
print(float(num5))

4.0

In [10]:
num6 = "4.7"
print(float(num6))

4.7

In [11]:
num7 = "51"
print(float(num7))

51.0

In [12]:
name = "Python"
print(float(name))

ValueError: could not convert string to float: 'Python'

<b> to bool

In [13]:
flag3 = False
print(bool(flag3))

False

In [14]:
flag4 = "False"
print(bool(flag4))

True

In [16]:
flag5 = false
print(bool(flag5))

NameError: name 'false' is not defined

In [17]:
name1 = ""
print(bool(name1))

False

In [18]:
name2 = " "
print(bool(name2))

True

In [20]:
num8 = 0
print(bool(num8))

False

<b> to str

In [22]:
flag = False
print(str(flag))

False

In [23]:
num = 0.000
print(str(num))

0.0

# 02

<b> left

In [25]:
x = "300"   # Store string 300 in x
y = int(x)  # convert x to int
z = y + 200 # Plus y with 200
a = float(z) # Convert z to float
b = a + x   # Plus a with string x ----> error
c = int(b) + 100 # error

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [27]:
# Fix
x = "300"
y = int(x)
z = y + 200
a = float(z)
b = a + int(x)
c = int(b) + 100
print(c)

900

In [30]:
x = "250"   # save "250" into x
y = int(x)  # convert x to int
z = y // 3  # y//3 --> res = int
a = str(z)  # convert z to string
b = a + x   # concatenate x and a
c = int(b) // 2  # conver b to int then // 2 --> res = int
print(c)

41625

# <b>03

In [50]:
string = input("Enter your string: ")
string == "yes" or string == "no"

Enter your string:  yes

True

# <b> 04

In [53]:
string = input("Enter your String: ")
bool(string)

Enter your String:  fhf

True

# <b> 05

In [54]:
C = float(input("Enter temp in Celsius :"))
F = (C*(9/5))+32
print("Temp in Fahrenheit:" + str(F))

Enter temp in Celsius : 10

Temp in Fahrenheit:50.0

# <b> 06

In [57]:
num1, num2, num3 = 17, 1.8, 28   # Place every number to related variables

In [62]:
# num4, num5 = 45, 12, 19   # number of variables is not enough

In [61]:
num4, num5, num6 = 45,12,19

In [63]:
# num6, num7, num8 = 200,300     error: not enugh number to assign
num6, num7, num8 = 200,300,400

In [65]:
name, score, passed = "Sara", 19, True
# name --> string
# score ---> int
# passed ----> True

In [66]:
var1 = var2 = var3 = 500   # put 500 into var 1,2,3

In [2]:
num1 = 20           # save 20 in num1
num2 = 30           # save 30 in num2
num1,num2 = num2, num1     # change num1 and num2 with each other
print(num1,num2)

30 20

# EX02

### 01

In [71]:
s = input("Enter your letter:")
if s == 'a' or s == 'e' or s =='i' or s =='o' or s =='u':
    print('Vowel')
else:
    print("Constant")

Enter your letter: a

Vowel

### 02

In [1]:
num = int(input("Enter your number:"))
if 10<=num<=20:
    print("In Range")
else:
    print("Out of Range")

Enter your number: 10

In Range

### 03

In [6]:
num1 = float(input("Enter Your 1st Number:"))
num2 = float(input("Enter Your 2nd Number:"))

sum_ = num1 + num2

if sum_> 20:
    print("Greater")
else:
  print("Not greater")

Enter Your 1st Number: 1
Enter Your 2nd Number: 1

Not greater

### 04

In [10]:
color1 = input("Enter Color1: ")
color2 = input("Enter Color2: ")
color3 = input("Enter Color3: ")

if color1==color2==color3:
    print("All Colors Match!")
elif color1==color2 or color1==color3 or color2==color3:
    print("Two Color Match!")
else:
    print("No Color Match!")

Enter Color1:  R
Enter Color2:  r
Enter Color3:  g

No Color Match!

### 05

In [8]:
num1 = 4
num2 = 5.4
if type(num1) == str and type(num2) == str:
  res = num1 + num2
elif type(num1) == int and type(num2) == int:
  res = num1 - num2
elif type(num1) == int and type(num2) == float and num2 != 0:
  res = num1 / num2
elif type(num1) == int and type(num2) == float:
  res = "Cannot divide by zero"
else:
  res = "Invalid syntax"
print(res)

0.7407407407407407